{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <dl>
    <dd><strong>Books:</strong> {{ num_books }}</dd>
    <dd><strong>Copies:</strong> {{ num_instances }}</dd>
    <dd><strong>Copies available:</strong> {{ num_instances_available }}</dd>
    <dd><strong>Authors:</strong> {{ num_authors }}</dd>
    
  </dl>
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
    
{% endblock %}